<div class="container">
  <div class="title">
    <img src="assets/svg/logo.svg">
  </div>

  <div class="calc">
    <div class="calc__form" [formGroup]="tipForm">
      <div class="calc__form__field">
        <div class="calc__form__field__label">Bill</div>
        <input class="calc__form__field__input calc__form__field__input__dollar" type="text" placeholder="0"
          formControlName="bill">
      </div>


      <div class="calc__form__field">
        <div class="calc__form__field__label">Select Tip %</div>
        <div class="calc__form__field__tip-buttons">
          <button *ngFor="let percentage of percentages; index as i;" class="calc__form__field__tip-buttons__btn"
            [ngClass]="{'calc__form__field__tip-buttons__btn__active': i === selectedIndex }"
            (click)="selectPercentage(i)">{{percentage}}%</button>
          <button *ngIf="!isCustom"
            class="calc__form__field__tip-buttons__btn calc__form__field__tip-buttons__btn__custom"
            (click)="onCustomClick()">
            Custom
          </button>
          <input *ngIf="isCustom" class="calc__form__field__input calc__form__field__input__custom" type="text"
            placeholder="0" formControlName="tipPercentage">
        </div>
      </div>

      <div class="calc__form__field">
        <div class="calc__form__field__label">Number of People</div>
        <input class="calc__form__field__input calc__form__field__input__person" type="text" placeholder="0"
          formControlName="numOfPeople">
      </div>
    </div>

    <div class="calc__result">
      <div class="calc__result__block">
        <div class="calc__result__block__label">
          <div class="calc__result__block__label__text">
            Tip Amount
          </div>
          <div class="calc__result__block__label__hint">
            / person
          </div>
        </div>

        <div class="calc__result__block__number">
          {{((tipAmount | number : '1.2-2') || 0) | currency}}
        </div>
      </div>

      <div class="calc__result__block">
        <div class="calc__result__block__label">
          <div class="calc__result__block__label__text">
            Total
          </div>
          <div class="calc__result__block__label__hint">
            / person
          </div>
        </div>

        <div class="calc__result__block__number">
          {{((total | number : '1.2-2') || 0) | currency}}
        </div>
      </div>

      <button class="calc__result__reset-btn" (click)="tipForm.reset()">RESET</button>
    </div>
  </div>
</div>